#accord {
width: 600px;
}

#accord h4.question {
margin: 1px;
padding: 6px 10px;
border: 1px solid;
background: #FFFAFA;
}

#accord div.answer {

margin: 1px;
padding: 6px 10px;
border: 1px solid;
background: #FFFFF0;
}

#accord h4.active {
background: #DCDCDC;
}